/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Start of Code */

.sr-only {
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
	}

#skip {
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}
	
#skip:focus {
	position:static;
	width:auto;
	height:auto;
}

h1 {
	font-size: 2em;
	margin-left: 1em;
	margin-top: 2%;
}

h2 {
	font-size: 1.75em;
}

header {
	padding: 5%;
	padding-bottom: 25%;
}

#about {
	padding-bottom: 25%;
}

#h3 {
	padding-top: 5%;
}

h4 {
	padding-bottom: 5%;
}

#events, #company {
	padding-top: 5%;
	padding-bottom: 5%;
}

h2, h3, h4 {
	vertical-align: center;
	text-align: center;
  }
  
html, body {
	margin: 0;
	height: 100%;
  }
  
#books, #newsletter {
	background-color: #DAD3B7;
	padding-top: 5%;
	padding-bottom: 5%;
}  

 p {
	max-width: 80%;
	margin-left: 12%;
	padding: 5%;
	text-align: center;
	color: black;
 } 
  * {
	font-family: 'Comfortaa', cursive;
	box-sizing: border-box;
  }

  h1, h2, h3, h4 {
	font-weight: bold;
  }
  
body {
	background-color: #DB9F34;
}  

a {
	text-decoration: none;
	color: white;
}

img {
	width: 90%;
	margin-left: 5%;
	padding-bottom: 5%;
}

.tickets {
	margin-top: 1%;
	padding: 5% 10% 5% 10%;
	margin-bottom: 1%;
	margin-left: -5%;
}

#SanDiego {
	border-bottom: 3px solid black;
	width: 80%;
	margin-left: 5%;
}

#SanDiego p {
	margin: 0;
}

#SantaClara {
	border-bottom: 3px solid black;
	width: 80%;
	margin-left: 5%;		
}

#SantaClara p {
	margin: 0;
}

#SantaBarbara {
	border-bottom: 3px solid black;
	width: 80%;
	margin-left: 5%;
}

#SantaBarbara p {
	margin: 0;
}

#SanFrancisco {
	border-bottom: 3px solid black;
	width: 80%;
	margin-left: 5%;
}

#SanFrancisco p {
	margin: 0;
}

#events p {
	padding: 0;
	text-align: left;
}

#events h4 {
	padding: 0;
	padding-bottom: 3%;
	padding-top: 3%;
	text-align: left;
}

#events h2 ~ p {
	text-align: center;
	padding: 5%;
	padding-bottom: 20%;
}



#newsletter input {
	width: 90%;
	margin-left: 5%;
	padding: 2%;
	margin-top: 3%;
	margin-bottom: 3%;
}

#newsletter label {
	margin-left: 5%;
}

#newsletter button {
	width: 90%;
	margin-left: 5%;
	padding: 2%;
	background-color: #D74452;
	color: white;
}

#newsletter h2 {
	padding-bottom: 5%;
}


#socials {
	margin-left: 30%;
	padding-bottom: 5%;
}

#booklist, #booklist h4 {
	display: inline-block;
	text-align: center;
	margin-left: 10%;
	padding: 5%;
}

#eventlist, #eventlist h4 {
	display: inline-block;
	text-align: center;
	padding: 5%;
}

#company li {
	padding-bottom: 15%;
}

#company h4 {
	padding: 10%;
}

.shortbar {
	border: 1px solid black;
	width: 90%;
	margin-bottom: 15%;
	text-align: center;
	margin-left: 6%;
}

footer {
	background-color: #DAD3B7;
	padding: 10%;
	text-align: center;
}

footer a {
	color: black;
	padding: 5%;
	font-weight: bold;
}

footer p {
	max-width: 100%;
	margin-left: -2%;
	margin-top: 10%;
}

.top-nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	background-color: #00BAF0;
	color: #FFF;
	height: 50px;
	padding: 1em;
  }
  
  .menu {
	display: flex;
	flex-direction: row;
	list-style-type: none;
	margin: 0;
	padding: 0;
  }
  
  .menu > li {
	margin: 0 1rem;
	overflow: hidden;
  }
  
  .menu-button-container {
	display: none;
	height: 100%;
	width: 30px;
	cursor: pointer;
	flex-direction: column;
	justify-content: center;
	align-items: center;
  }
  
  #menu-toggle {
	display: none;
  }

  #menu li {
	margin-top: 5%;
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
	display: block;
	background-color: black;
	position: absolute;
	height: 4px;
	width: 30px;
	transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
	border-radius: 2px;
  }
  
  .menu-button::before {
	content: '';
	margin-top: -8px;
  }
  
  .menu a {
	color: black;
	font-weight: bold;
}
  
  .menu-button::after {
	content: '';
	margin-top: 8px;
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::before {
	margin-top: 0px;
	transform: rotate(405deg);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button {
	background: rgba(255, 255, 255, 0);
  }
  
  #menu-toggle:checked + .menu-button-container .menu-button::after {
	margin-top: 0px;
	transform: rotate(-405deg);
  }

  .menu-button {
	position: absolute;
	top: 7%;
	right: 15%;
  }
  
  @media (max-width: 700px) {
	.menu-button-container {
	  display: flex;
	}
	.menu {
	  position: absolute;
	  top: 0;
	  margin-top: 50px;
	  left: 0;
	  flex-direction: column;
	  width: 100%;
	  justify-content: center;
	  align-items: center;
	}
	#menu-toggle ~ .menu li {
	  height: 0;
	  margin: 0;
	  padding: 0;
	  border: 0;
	  transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
	}
	#menu-toggle:checked ~ .menu li {
	  border: 1px solid #333;
	  height: 2.5em;
	  padding: 0.5em;
	  transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
	}
	.menu > li {
	  display: flex;
	  justify-content: center;
	  margin: 0;
	  padding: 0.5em 0;
	  width: 100%;
	  color: black;
	  background-color: #D74452;
	}
	.menu > li:not(:last-child) {
	  border-bottom: 1px solid #444;
	}
  }

  @media screen and (min-width: 768px) {
	nav {
		float: right;
		margin-top: -3%;
	}

	#grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	img {
		height: 60%;
	}

	#eventgrid p {
		margin-top: 15%;
	}

	#eventgrid {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	#events button {
		margin-left: 60%;
		margin-top: -60%;
		display: block;
	}

	#fname {
		float: left;
		margin-left: 4%;
	}

	#lname {
		float: left;
		margin-left: 25%;
	}

	#fname input, #lname input {
		padding: 10%;
		width: 200%;
	}

	#fname label, #lname label {
		padding-right: 30%;
	}

	#email {
		margin-top: 2%;
	}

	#newsletter button {
		width: 30%;
		margin-left: 65%;
	}

	footer {
		padding: 5%;
	}

	footer p {
		margin: 0;
		padding: 0;
		text-align: left;
		margin-top: -2%;
	}

	footer a {
		display: inline;
		margin: 0;
		margin-left: 65%;
		padding: 0;
	}

	.terms {
		margin-left: 2%;
	}
	
	#company {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		margin-top: 5%;
		margin-left: 5%;
	}

	#socials {
		margin-left: 15%;
	}

	#booklist {
		margin-left: 25%;
		width: 60%;
	}

	#eventlist {
		width: 60%;
	}

  }

  @media (min-width: 1280px) {
	#grid {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

	img {
		height: 30%;
	}

	#events button {
		margin-left: 70%;
		margin-top: -50%;
	}

	.form-inline {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
	}

	#fname input {
		width: 200%;
	}

	#lname input {
		width: 200%;
	}

	#email input {
		width: 200%;
		padding: 8%;
		margin: 0;
	}
	
	#email {
		margin-left: 20%;
	}

	#lname {
		margin-left: 15%;
	}

	#newsletter button {
		margin-left: 150%;
		margin-top: 2%;
		width: 50%;
	}

	footer {
		padding: 0;
		margin: 0;
		background-color: #DB9F34;
		margin-top: -10%;
	}

	footer p {
		float: right;
		margin-top: -5%;
		margin-right: 5%;
	}

	footer a {
		margin-bottom: 5%;
	}
	

	#company {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		margin-top: 5%;
		margin-left: 5%;
	}


  }